extends ../layouts/main-layout.pug
block styles
    link(href="/css/style.css")
    
block content
    h1 Categories

    if(action=='edit')
        div.alert.alert-success Kategori güncellendi 

    if(action=='delete')
        div.alert.alert-danger Kategori silindi 

    if categories.length>0
        table.table.table-bordered 
            thead 
                tr 
                    th Name
                    th Description 
                    th 
            tbody 
                each category in categories
                    tr 
                        td #{category.name}
                        td #{category.description}
                        td 
                            a.btn.btn-primary.btn-sm(href=`/admin/categories/${category._id}`) Edit

                            form(action=`/admin/delete-category` method="post")
                                input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                input(type='hidden' name="id" value=`${category._id}`)
                                button(type="submit").btn.btn-primary Delete
    else 
        h1 No Categories
